//#include <windows.h>
#include "Resource.h"


MChat_ICO	ICON	DISCARDABLE	"./Resource/MChat.ico"

TEXT_WAV	WAVE	DISCARDABLE	"./Resource/Text.wav"

BG_BMP		BITMAP	DISCARDABLE	"./Resource/BGStar.bmp"

NetSelect DIALOG DISCARDABLE  0, 0, 187, 91
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MiniChat -NetSelect-"
{
	DEFPUSHBUTTON	"OK", IDOK, 130, 7, 50, 14, WS_GROUP
	PUSHBUTTON	"CANCEL", IDCANCEL, 130, 24, 50, 14
	GROUPBOX	"Select the Client or Server", IDC_STATIC, 7, 7, 116, 56, WS_GROUP
	CONTROL		"Client (接続先アドレス)", IDC_CLIENT, "Button",
				BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP, 14, 14, 102, 14
	CONTROL		"Server", IDC_SERVER, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP,
				14, 42, 102, 14
	EDITTEXT	IDC_ADDR, 21, 28, 95, 14, ES_AUTOHSCROLL | WS_GROUP
	RTEXT		"HN:", IDC_STATIC, 7, 70, 20, 14
	EDITTEXT	IDC_HN, 27, 70, 60, 14, ES_AUTOHSCROLL | WS_GROUP
	RTEXT		"Port:", IDC_STATIC, 101, 70, 20, 14
	EDITTEXT	IDC_PORT, 121, 70, 60, 14, ES_AUTOHSCROLL | ES_NUMBER
}
